

section#road {
	background: transparent url(../imgs/road.png) no-repeat center center;
	height: 630px;
	margin: 0px auto;
	overflow: hidden;
	width: 960px;
}
div#frog {
	background: transparent url(../imgs/frog.png) no-repeat center center;
	height: 47px;
	position: relative;
	left: 450px;
	top: 570px;
	width: 58px;

	-webkit-transition: all 0.1s;
}
div#vh1, 
div#vh2,
div#vh3 {
	height: 70px;
	position: relative;
	left: -154px;
	top: 304px;
	width: 154px;
}

div.car1 {
	background: transparent url(../imgs/car01.png) no-repeat center center;
}
div.car2 {
	background: transparent url(../imgs/car02.png) no-repeat center center;
}
div.car3 {
	background: transparent url(../imgs/car03.png) no-repeat center center;
}
div.car4 {
	background: transparent url(../imgs/car04.png) no-repeat center center;
}
div.car5 {
	background: transparent url(../imgs/car05.png) no-repeat center center;
}